<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/home.css">
    <title>Tick Tok</title>
</head>

<body>
    <div class="header-nav">
        <div class="header">
            <a href="/" class="logo" id="logo">
                <img src="/Image/logo.png" alt="">
            </a>
            <div class="search">
                <input class="input-search" type="text" placeholder="Tìm kiếm tài khoản và video">
                <button class="btn-search">
                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                </button>
            </div>
            <% if(!user.username) { %>
                <a href="/login" class="login">
                    <button class="login-btn">
                        <h3>Đăng nhập</h3>
                    </button>
                </a>
                <% } else { %>
                    <div class="tool" id="tool">
                        <a href="/upfile" class="upload-tool" id="upload">
                            <i class="fa-solid fa-plus fa-lg"></i>
                            <h3>Tải lên</h3>
                        </a>
                        <a href="/chat" class="chat-tool" id="chat">
                            <i class="fa-regular fa-paper-plane fa-lg"></i>
                        </a>
                        <a href="/message" class="message-tool" id="message">
                            <i class="fa-regular fa-message fa-lg"></i>
                        </a>
                        <div class="user-profile-tool" id="profile">
                            <img src="<%= user.image %>" alt="">
                        </div>

                    </div>
                    <div class="box-profile" id="boxProfile" style="display: none;">
                        <div><a href="/profile/<%= user.user_id %>">
                                <i class="fa-solid fa-user"></i>
                                <h4>Xem hồ sơ</h4>
                            </a>
                        </div>
                        <div><a href="">
                                <i class="fa-brands fa-bitcoin"></i>
                                <h4>Nhận xu</h4>
                            </a>
                        </div>
                        <div><a href="">
                                <i class="fa-solid fa-video"></i>
                                <h4>LIVE Studio</h4>
                            </a>
                        </div>
                        <div><a href="">
                                <i class="fa-solid fa-gear"></i>
                                <h4>Cài đặt</h4>
                            </a>
                        </div>
                        <div><a href="">
                                <i class="fa-solid fa-globe"></i>
                                <h4>Tiếng Việt</h4>
                            </a>
                        </div>
                        <div><a href="">
                                <i class="fa-solid fa-circle-question"></i>
                                <h4>Phản hồi và trợ giúp</h4>
                            </a>
                        </div>
                        <div><a href="">
                                <i class="fa-solid fa-keyboard"></i>
                                <h4>Phím tắt trên bàn phím</h4>
                            </a>
                        </div>
                        <div style="border-bottom: 1px solid rgb(48, 47, 47);">
                            <a href=""><i class="fa-solid fa-moon"></i>
                                <h4>Chế độ tối</h4>
                                <input type="checkbox" class="switch" id="switchBar">
                            </a>

                        </div>
                        <div><a href=""><i class="fa-solid fa-right-from-bracket"></i>
                                <h4>Đăng xuất</h4>
                            </a>
                        </div>
                    </div>
                    <% } %>
        </div>
    </div>
    <div class="content">
        <div class="content-left">
            <div class="for-you">
                <a href="/" class="for-you-select" style="color: rgb(254, 44, 85)">
                    <i class="fa-solid fa-house fa-lg"></i>
                    <h2>Dành cho bạn</h2>
                </a> 
                <a href="/following" class="for-you-select">
                    <i class="fa-solid fa-user-group fa-lg"></i>
                    <h2>Đang Follow</h2>
                </a>
                <a href="/live" class="for-you-select">
                    <i class="fa-solid fa-video fa-lg"></i>
                    <h2>LIVE</h2>
                </a>
            </div>
            <% if(!user.username) { %>
                <div class="login-follow">
                    <div>Đăng nhập để follow các tác giả, thích video và xem bình luận.</div>
                    <button class="login-btn">
                        <h3>Đăng nhập</h3>
                    </button>
                </div>
                <% } %>
                    <div class="acount-sugest" id="acountSugest">
                        <div style="height: 30px;">
                            <h4>Tài khoản được đề xuất</h4>
                        </div>
                        <% for(let i=0; i < allUsers.length; i++) { %>
                            <% if(allUsers[i].username !=user.username && user.follow.indexOf(allUsers[i].user_id) == -1) { %>
                                <div class="user-acount">
                                    <div class="user-avatar">
                                        <img src="<%= allUsers[i].image %>" alt="">
                                    </div>
                                    <div class="user-infor">
                                        <div class="username">
                                            <h4>
                                                <%= allUsers[i].username %>
                                            </h4>
                                        </div>
                                        <div class="name">
                                            <%= allUsers[i].name %>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                    <% } %>
                                        <% if(allUsers.length> 5) { %>}
                                            <div class="view-all" id="allSugest">
                                                <h4>Xem tất cả</h4>
                                            </div>
                                            <div class="view-back" id="backSugest" style="display:none">
                                                <h4>Thu gọn</h4>
                                            </div>
                                            <% } %>
                    </div>
                    <% if(user.username !=undefined) { %>
                        <div class="following-acount" id="followingAcount">
                            <div style="height: 30px;">
                                <h4>Các tài khoản đang follow</h4>
                            </div>
                            <% for(let i = 0; i< allUsers.length; i++) { 
                                if(user.follow.indexOf(allUsers[i].user_id) != -1) { %>
                            <div class="user-acount">
                                <div class="user-avatar">
                                    <img src="<%= allUsers[i].image %>" alt="">
                                </div>
                                <div class="user-infor">
                                    <div class="username">
                                        <h4><%= allUsers[i].username %></h4>
                                    </div>
                                    <div class="name"><%= allUsers[i].name %></div>
                                </div>
                            </div>
                            <% } } %>
                            <% if(user.follow.length > 5) { %>
                            <div class="view-all" id="allFollow">
                                <h4>Xem thêm</h4>
                            </div>
                            <div class="view-back" id="backFollow" style="display:none">
                                <h4>Thu gọn</h4>
                            </div>
                            <% } %>

                        </div>
                        <% } %>
                            <div class="dicovery">
                                <div style="height: 30px;">
                                    <h4>Khám phá</h4>
                                </div>
                                <span class="link"><a href="#">abcádasdsda</a></span>
                                <span class="link"><a href="#">abcádasdsda</a></span>
                                <span class="link"><a
                                        href="#">abcádasdsdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a></span>
                            </div>
                            <div class="footer-part">
                                <span>
                                    <h5>Giới thiệu</h5>
                                </span>
                                <span>
                                    <h5>Bảng tin</h5>
                                </span>
                                <span>
                                    <h5>Liên hệ</h5>
                                </span>
                                <span>
                                    <h5>Sự nghiệp</h5>
                                </span>
                                <span>
                                    <h5>ByteDance</h5>
                                </span> <br>
                                <span>
                                    <h5>TikTok for Good</h5>
                                </span>
                                <span>
                                    <h5>Quảng cáo</h5>
                                </span>
                                <span>
                                    <h5>Developers</h5>
                                </span>
                                <span>
                                    <h5>Transparency</h5>
                                </span>
                                <span>
                                    <h5>TikTok Rewards</h5>
                                </span>
                                <span>
                                    <h5>TikTok Browse</h5>
                                </span>
                                <span>
                                    <h5>TikTok Embeds</h5>
                                </span> <br>
                                <span>
                                    <h5>Trợ giúp</h5>
                                </span>
                                <span>
                                    <h5>An toàn</h5>
                                </span>
                                <span>
                                    <h5>Điều khiển</h5>
                                </span>
                                <span>
                                    <h5>Quyền riêng tư</h5>
                                </span>
                                <span>
                                    <h5>Creator Portal</h5>
                                </span>
                                <span>
                                    <h5>Hướng dẫn Cộng đồng</h5>
                                </span> <br>
                                <span>
                                    <h5>Thêm</h5>
                                </span> <br>
                                <span>
                                    <h5>2023 TikTok</h5>
                                </span>
                            </div>
        </div>
        <div class="content-right" id="contentRight">
            <%- include('foryou.ejs') %>
        </div>
    </div>
</body>
<script src="/home.js"></script>

</html>